/* Changer les couleurs de fond */
/* Div avec les liens en haut des pages et le pied de page */
header, footer {
    background-color: white;
  }
  
  /* Cœur de la page */
  main {
    background-color: #1F2039;
  }
  
  /* Changer les couleurs de texte */
  /* Liens en tête et pied de page */
  header a, footer a {
    color: #242424;
  }
  
  /* Paragraphes, listes et titres H2 */
  p, ul, ol, h2 {
    color: #F9F8FF;
    background-color: #1F2039; /* Fond bleu foncé */
  }
  
  /* Styles pour les liens hypertextes spécifiques */
  a.gradient-link {
    background: linear-gradient(to right, #8E86B5, #ACAEED);
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  